<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kemizhibo.kemizhibo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".yhr.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/pic_title"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pic_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".yhr.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".yhr.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".yhr.activity.resourcescenteraactivity.SearchActivity" />
        <activity android:name=".yhr.activity.logins.LoginActivity" />
        <activity android:name=".yhr.activity.logins.FinishActivity" />
        <activity android:name=".yhr.activity.logins.WangJiActivity" />
        <activity android:name=".yhr.activity.logins.XiuGaiActivity" />
        <activity android:name=".yhr.activity.personcenters.PersonCenterBianJiActivity" />
        <activity android:name=".yhr.activity.personcenters.PersonCenterShouCangActivity" />
        <activity android:name=".yhr.activity.personcenters.PersonCenterLiuLanActivity" />
        <activity android:name=".yhr.activity.personcenters.PersonCenterSuCaiActivity" />
        <activity android:name=".other.preparing_teaching_lessons.PersonCenterBeiShouKeJiLuActivity" />
        <activity android:name=".yhr.activity.personcenters.PersonCenterFanKuiActivity" />
        <activity android:name=".yhr.activity.personcenters.PersonCenterSheZhiActivity" />
        <activity
            android:name=".yhr.activity.resourcescenteraactivity.YingXinagVideoDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".yhr.activity.resourcescenteraactivity.TeacherTrainingDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".yhr.activity.resourcescenteraactivity.LiveRoomDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".yhr.activity.resourcescenteraactivity.PictrueDetailsActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".yhr.activity.personcenters.TakePhotoActivity" />
        <activity android:name=".other.preparing_package_detail.PreparingPackageDetailActivity" />
        <activity
            android:name="vn.tungdx.mediapicker.activities.MediaPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MediaPickerTheme" />
        <activity android:name=".other.preparing_package_detail.view.WordShowActivity" />
        <activity
            android:name=".other.web.CommonWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity android:name=".yhr.activity.personcenters.ChangePhoneActivity" />
        <activity android:name=".yhr.activity.personcenters.SetNewPhoneActivity" />
        <activity android:name=".yhr.activity.personcenters.ChangePhoneFinishActivity" />
        <activity android:name=".yhr.activity.personcenters.ChangePwdActivity" />
        <activity android:name=".yhr.activity.personcenters.FuWuActivity" />
        <activity
            android:name=".yhr.activity.web.MyLiveRoomWebActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".yhr.activity.personcenters.PersonCenterGuanLiActivity" />
        <activity android:name=".yhr.activity.personcenters.LectureActivity" />
        <activity android:name=".other.preparing_package_detail.preview.PreviewActivity" />
        <activity android:name=".yhr.activity.resourcescenteraactivity.ForTeachSearchActivity"></activity>
    </application>

</manifest>